@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
 
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
#hero-section{
  background: #073B3A;
  display: flex;
  justify-content: center;
  gap: 10%;
  text-align: center;
  height: 100vh;
  width: 100%;
  padding: 50px 0px;
}
h1{
  color: #FBFFFE;
  font-size: 100px;
  
  font-family: 'Kinat',sans-serif;
  text-shadow: 0 0 5px black;
}

.score{
  background-color: black;
  width: 400px;
  height: 300px;
  border: 3px solid black ;
  padding: 80px 0;
  font-size: 150px;
  font-family: 'Press Start 2P', sans-serif;
  color: #96031A;
  border-radius: 10px;
}
.btn-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.score-btn{
  padding: 5px 10px;
  margin-top: 20px;
  width: 100px;
  height: 100px;
  font-size: 25px;
  background: none;
  border: 1px solid white;
  border-radius: 10px;
  color: #FBFFFE;
  font-family: 'Press Start 2P',sans-serif;
  cursor: pointer;
}

.teamF{
  font-size: 24px;
  color: white;
  font-family: 'Kinat',sans-serif;
  font-weight: bold;
  width: auto;
  height: auto;
  
  
  
}
.foulC{
  width: 80px;
  height: auto;
  border: 1px solid white;
  margin: auto;
  border-radius: 5px;

}
#foul-btn{
  font-family: 'Kinat', sans-serif;
  font-weight:bold;
  font-size: 20px;
  width: 100px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #96031A;
  margin-top: 10px;
  border: none;
  color: white;
  
}

#mid-container{
  width: auto;
  height: 300px;
  margin-top: 8%;
}

.period{
  font-size: 24px;
  color: white;
  font-family: 'Kinat',sans-serif;
  font-weight: bold;
  padding: 10px 0px;
 
}
.period-cont{
  width: auto;
  height: auto;
  border: 2px solid white;
}
.time-cont{
  width: auto;
  height: auto;
  border: 2px solid white;
}
.group-1st-btn{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
  padding: 10px 10px;
}
.group-2nd-btn{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;

  padding: 10px 10px;
}
.mid-btn{
  padding: 5px 20px;
  background: #0A192F;
  border: 1px solid white;
  color: white;
  font-size: 16px;
  font-family: 'Kinat',sans-serif;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}
.new-btn{
  margin-top: 100px;
  padding: 5px 20px;
  background:#0B6E4F;
  border: 1px solid white;
  color: white;
  font-size: 50px;
  font-family: 'Kinat',sans-serif;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

@media(max-width: 1650px){

  #hero-section{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    width: 100%;
    padding: 20px;
    gap: 10px;
  }

  #mid-container{
    width: 100%;
    height: auto;
   
    
  }

  h1 {
    
    text-align: center;
    font-size: 60px;
  }

  .teamF,.period {
    
    margin: 0;
    font-size: 24px;
    padding: 10px 0;
  }

  .period-cont,
  .time-cont {
    margin: auto;
    text-align: center;
    width: 100%; 
    max-width: 600px;
    height: auto;
    padding: 12px 0;
  
  }

  .score{
    margin: 20px auto;
    width: 400px;
    height: 300px;
    padding: 70px 0;
     
    }

    .btn-container{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      width: 100%;
      height: auto;
      padding: 50px 0;
    }

    .score-btn{
    
      margin: 0;
      width: 100px;
      height: 70px;
      font-size: 12px;
     
     
    }

    .group-1st-btn,
    .group-2nd-btn {
      
      width: auto;
      display: flex;
      flex-direction: row;
      align-items: center;
     
    
    }

    .mid-btn{
      width: 100%;
      max-width: 300px;
      height: 50px;
      padding: 0 10px;
      font-size: 16px;
    }

    #mid-container{
      margin-top: 100px;
    }
  
    #foul-btn{
      font-size: 16px;
     
    }
    
}

@media(max-width: 1200px){
  #hero-section{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    width: 100%;
    padding: 20px;
    gap: 10px;
  }

  #mid-container{
    width: 100%;
    height: auto;
   
    
  }

  h1 {
    
    text-align: center;
    font-size: 40px;
  }

  .teamF,.period {
    
    margin: 0;
    font-size: 18px;
    padding: 10px 0;
  }

  .period-cont,
  .time-cont {
    margin: auto;
    text-align: center;
    width: 100%; 
    max-width: 300px;
    height: auto;
    padding: 12px 0;
  
  }

  .score{
    margin: 20px auto;
    width: 200px;
    height: 100px;
    padding: 25px 0;
    font-size: 50px; 
    }

    .btn-container{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      width: 100%;
      height: auto;
      margin: 20px 0;
    }

    .score-btn{
    
      margin: 0;
      width: auto;
      height: 70px;
      font-size: 12px;
     
     
    }

    .group-1st-btn,
    .group-2nd-btn {
      
      width: auto;
      display: flex;
      flex-direction: row;
      align-items: center;
     
    
    }

    .mid-btn{
      width: 100%;
      height: 30px;
      padding: 0 10px;
      font-size: 16px;
    }

    #mid-container{
      margin-top: 100px;
    }
  
    #foul-btn{
      font-size: 16px;
     
    }
    

}

@media(max-width: 992px){
  #hero-section{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    width: 100%;
    padding: 20px;
    gap: 10px;
  }

  #mid-container{
    width: 100%;
    height: auto;
   
    
  }

  h1 {
    
    text-align: center;
    font-size: 40px;
  }

  .teamF,.period {
    
    margin: 0;
    font-size: 18px;
    padding: 10px 0;
  }

  .period-cont,
  .time-cont {
    margin: auto;
    text-align: center;
    width: 100%; 
    max-width: 300px;
    height: auto;
    padding: 12px 0;
  
  }

  .score{
    margin: 20px auto;
    width: 200px;
    height: 100px;
    padding: 25px 0;
    font-size: 50px; 
    }

    .btn-container{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      width: 100%;
      height: auto;
      margin: 20px 0;
    }

    .score-btn{
    
      margin: 0;
      width: auto;
      height: 70px;
      font-size: 12px;
     
     
    }

    .group-1st-btn,
    .group-2nd-btn {
      
      width: auto;
      display: flex;
      flex-direction: row;
      align-items: center;
     
    
    }

    .mid-btn{
      width: 100%;
      height: 30px;
      padding: 0 10px;
      font-size: 16px;
    }

    #mid-container{
      margin-top: 100px;
    }
  
    #foul-btn{
      font-size: 16px;
     
    }
    

}

@media(max-width: 768px){
  #hero-section{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    width: 100%;
    padding: 20px;
    gap: 10px;
  }

  #mid-container{
    width: 100%;
    height: auto;
   
    
  }

  h1 {
    
    text-align: center;
    font-size: 25px;
  }

  .teamF,.period {
    
    margin: 0;
    font-size: 18px;
  }
  .period-cont,
  .time-cont {
    margin: auto;
    text-align: center;
    width: 100%; 
    max-width: 200px;
    height: auto;
    padding: 12px 0;
  
  }

  .score{
    margin: 20px auto;
    width: 100px;
    height: auto;
    padding: 10px 0;
    font-size: 50px; 
    }

    .btn-container{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      width: 100%;
      height: auto;
      margin: 20px 0;
    }

    .score-btn{
    
      margin: 0;
      width: 50px;
      height: 50px;
      font-size: 12px;
     
     
    }
    
    .group-1st-btn,
  .group-2nd-btn {
    
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
   
  
  }
  .mid-btn{
    width: 100%;
    height: 30px;
    padding: 0 10px;
    font-size: 16px;
  }

  #mid-container{
    margin-top: 100px;
  }

  #foul-btn{
    font-size: 16px;
  }
  
  .new-btn {
    margin: 20px auto;
    width: 100%;
    height: auto;
    padding: 10px 0;
    font-size: 25px;
  }

    

  


}



@media (max-width: 576px){

  #hero-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: auto;
    width: auto;
    padding: 20px;
   
  }

  h1 {
    width: 100%;
    text-align: center;
    font-size: 25px;
  }

  .teamF,.period {
    width: 100%;
    text-align: center;
    margin: 0px;
    height: auto;
  }
  
  .score{
  margin: 20px auto;
  width: 200px;
  height: auto;
  padding: 10px 0;
  font-size: 100px; 
  }

  .btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: auto;
  }

  .score-btn{
    
    margin: 0;
    width: 100%;
    height: 80px;
    font-size: 16px;
   
  }

  #mid-container{
    width: 100%;
    height: auto;
    
  }

 
  .group-1st-btn,
  .group-2nd-btn {
    
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  
  }
  .mid-btn{
    width: 100%;
    height: 50px;
    padding: 5px 10px;
  }


  
  .period-cont,
  .time-cont {
    width: 100%; 
    height: auto;
    margin: 10px auto;
    padding: 10px 0;

  }

  .new-btn {
    margin: 30px auto;
    width: 100%;
    height: 50px;
    font-size: 25px;
  }
   
}

